.section-container{
  position: relative;
  display:flex;
  flex-direction:row;
}

.outline-div{
  width: 100%;
  height: 100%;
  padding-left: 5%;
}


.outline-hr{
  padding-left: 5%;
  padding-right: 5%;
}

.outline-h1{
  padding-left: 5%;
}