.header {
    margin: 0;
    padding: 10px;
    background: #39EAA8;
    color: white;
    font-size: 30px;
    position: relative;
    box-shadow: 0 0px 5px rgb(4, 94, 23);
    z-index: 1; 
  }

  .header-text{
      text-align: left;
      font-weight: 400;
  }

  .header-btn {
    display: flex;
    justify-content: flex-end;
  }

  .header-h2{
    margin: 0;
  }

  /* .main-container {
    width: 200px;
    border: 1px solid #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .my-section {
    width: 200px;
    border: 1px solid #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-container {
    color: #fff;
    background: #2d2d2d;
    padding: 12px;
    display: inline-block;
  } */