/* The side navigation menu */
#mySidenav {
    width: 140px;
}

#mySidenav:hover{
    width: 210px;
}

  .sidenav {
    transition: width 0.75s;
    left: 0px;
    width: 100%;
    height: 92vh;
    background: transparent linear-gradient(180deg, #39EAA8 0%, #0028EF 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 34px 34px 0px;
    opacity: 1;
    overflow-x: hidden;
    z-index: 1;
    position: absolute;
    bottom:0;
    top:0;
  }

  .sidenav a {
      display: block;
      padding: 20px;
      margin-top: 20px;
      margin-left:10px;
  }

  .menu-icons{
    height: 50px;
    opacity: 1;
}
  